@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');


.newspaper-container {

    width: 75%;
    border-radius: 10px 20px 30px 40px;
    box-shadow: 5em 5em .5em #ddd;
    padding: 10px;  
    margin: 0 auto;
    background: white;
    
}
main img{
    width:100%;
}




.header {
    
    text-align: center;
    
}
.nav {

    display: inline-block;
    text-align: center;
    width: 850px;
    padding: 10px;
    list-style: none;      
 
}

.nav ul {
    margin: auto;
    padding: 0;
    list-style: none;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
}

.nav ul li{
    display: inline-block;
    padding: .4em; 
    color: #902222;

   
}

.nav ul li a{
    text-decoration: none;
    color: #eee;

   
}


body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #eee ;
    margin:auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Abril Fatface', cursive;
}

.navigation a {
    font-family: 'Roboto Slab', serif;
}


.more-articles {
    text-align: center;

}
.more-articles section{
    display: inline-block;
    width:40%;
    margin:0em .5em;

}
.more-articles img{
    width:100%

}

.more-articles p {
    text-align: justigy;
    padding:0em .5em;

}